:root {
  --color-bg: #202124;

  --color-purple: #7b61ff;
  --color-pr: #f5f5f5;
  --color-se: #c4c4c4;

  --color-success: #018768;
  --color-fail: #b00020;

  --color-redGr: linear-gradient(
    180deg,
    #b00020 -12.5%,
    rgba(255, 255, 255, 0.507) 100%
  );
}

/* Font Fira Code

family = "Fira Code"
weight = 300, 500 or 600

*/

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&display=swap");

* {
  font-family: "Fira Code";
  font-weight: 300;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.7rem;
  font-weight: 500;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.2rem;
}
p {
  font-size: 0.8rem;
}

/* Classes */
/* Size */
.w-100 {
  width: 100%;
}

/* Text */
.c-purple {
  color: var(--color-purple);
}
.c-gray {
  color: var(--color-se);
}
.c-white {
  color: white;
}

.bold {
  font-weight: bold;
}

.c-error {
  color: var(--color-fail);
}
.c-success {
  color: var(--color-success);
}

/* background */
.w-bg {
  background-color: var(--color-pr);
}

.p-bg {
  background-color: var(--color-purple);
}

.c-bg-center {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.f-bg-center {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.f-bg-center * {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.r-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.between {
  justify-content: space-between;
}
/* Button */
button {
  border-radius: 10px;
}

.b-noRound {
  border-radius: 0px;
}

/*Position Text*/
.start-t {
  text-align: start;
}
.end-t {
  text-align: end;
}
.center-t {
  text-align: center;
}

.upper-c {
  text-transform: uppercase;
}

.icon {
  max-width: 30px;
  width: 8vw;
}

body {
  background-color: var(--color-bg);
  color: var(--color-pr);
}
