.switch {
  width: 3.3rem;
  height: 2rem;
  padding: 0.15rem;

  background-color: var(--color-se);

  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  border-radius: 100vw;
}

.content-switch {
  width: 1.75rem;
  height: 1.75rem;

  background-color: var(--color-pr);

  border-radius: 100%;
}

.checked {
  background-color: var(--color-purple);
  justify-content: flex-end;
}
