@media (max-width: 600px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    justify-items: center;
  }

  header {
    justify-content: center;
  }

  #pomodoro-type {
    display: none;
  }

  #pomodoro-time {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #to-do-list {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
